################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/hello-net-core/src/hello-net-core/bin/Debug/netcoreapp1.0
